@import '~bootstrap/scss/bootstrap';

#sign-out-button {
  display: none;
  text-align: left;
}

#change-password-form {
  display: none;
  text-align: left;
}

#user-message {
  display: none;
}

#sign-up-form {
  text-align: left;
}

#sign-in-form {
  text-align: left;
}

#get-reviews-form {
  display: none;
}

#create-review-form {
  display: none;
}

#update-review-form {
  display: none;
}

#reviews-display {
  display: none;
}

h1 {
  text-align: center;
  font-family: serif;
  font-size: 75px;
}

legend {
  font-size: 20px;
  font-style: italic;
}

fieldset {
  border-radius: 12px;
}
